<section class="home">
  <div class="row">
    <h1 class="title">Star Wars</h1>
  </div>

  <div class="row">

    <div class="column first">
      <app-input-search placeholder="Search People"
                        class="input-search"
                        (submit)="inputSearchEvent($event)"
                        [block]="true">
      </app-input-search>

      <app-search-result class="search-result"
                         [total]="characterTotal"
                         [loading]="isLoading"
                         [characterList]="characterList"
                         (nextPage)="nextPage()">
      </app-search-result>

      <app-character-profile>
      </app-character-profile>
    </div>

    <div class="column second">
      <h3>Show information:</h3>
      <app-character-detail [clean]="isSearching">
      </app-character-detail>
    </div>

  </div>

</section>
