<section class="character-preview">
  <ng-container *ngIf="character">

    <div class="row">
      <p class="column first">Name:</p>
      <p class="column second">{{character.name}}</p>
    </div>
    <div class="row">
      <p class="column first">Height:</p>
      <p class="column second">{{character.height}}</p>
    </div>
    <div class="row">
      <p class="column first">Mass:</p>
      <p class="column second">{{character.mass}}</p>
    </div>
    <div class="row">
      <p class="column first">Skin color:</p>
      <p class="column second">{{character.skinColor}}</p>
    </div>
    <div class="row">
      <p class="column first">Brith year:</p>
      <p class="column second">{{character.birthyear}}</p>
    </div>
    <div class="row">
      <p class="column first">Hair color:</p>
      <p class="column second">{{character.hairColor}}</p>
    </div>
    <div class="row">
      <p class="column first">Eye color:</p>
      <p class="column second">{{character.eyesColor}}</p>
    </div>

  </ng-container>
</section>
