<section class="character-detail">
  <ng-container *ngIf="characterDetail && !loading">

    <div class="row">
      <p class="column first">Name:</p>
      <p class="column second">{{characterDetail.name}}</p>
    </div>
    <div class="row">
      <p class="column first">Height:</p>
      <p class="column second">{{characterDetail.height}}</p>
    </div>
    <div class="row">
      <p class="column first">Mass:</p>
      <p class="column second">{{characterDetail.mass}}</p>
    </div>
    <div class="row">
      <p class="column first">Skin color:</p>
      <p class="column second">{{characterDetail.skinColor}}</p>
    </div>
    <div class="row">
      <p class="column first">Brith year:</p>
      <p class="column second">{{characterDetail.birthYear}}</p>
    </div>
    <div class="row">
      <p class="column first">Hair color:</p>
      <p class="column second">{{characterDetail.hairColor}}</p>
    </div>
    <div class="row">
      <p class="column first">Eye color:</p>
      <p class="column second">{{characterDetail.eyesColor}}</p>
    </div>

  </ng-container>

  <ng-container *ngIf="loading">
    <div class="row spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-container>
</section>
